<?php 
    $seller_data = $this->getSellerData();
    $shop_address = (array)json_decode($seller_data['shop_address']);
    
    if(!empty($shop_address)) {
        $seller_data['address']['line1'] = $shop_address['line1'];
        $seller_data['address']['line2'] = $shop_address['line2'];
        $seller_data['address']['city'] = $shop_address['city'];
        $seller_data['address']['state'] = $shop_address['state'];
        $seller_data['address']['country'] = $shop_address['country'];
        $seller_data['address']['pincode'] = $shop_address['pincode'];
    }
    
    if (isset($seller_data['page_url_key']) && !empty($seller_data['page_url_key'])) {
//        $seller_view_link = $this->getUrl($seller_data['page_url_key']);
        $seller_view_link = $this->getUrl('marketplace/sellers/view', ['id' => $seller_data['seller_id']]);
    } else {
        $seller_view_link = $this->getUrl('marketplace/sellers/view', ['id' => $seller_data['seller_id']]);
    }
    
    if(isset($seller_data['payment_info']) && !empty($seller_data['payment_info'])){
        $seller_data['payment_info'] = unserialize($seller_data['payment_info']);
    }
?>

<script type="text/javascript">
        var removeLogoRequestUrl = '<?php echo $this->getUrl('*/*/removeLogo'); ?>';
        var removeBannerRequestUrl = '<?php echo $this->getUrl('*/*/removeBanner'); ?>';
        var defaultLogoUrl = "<?php echo $this->getViewFileUrl("Knowband_Marketplace::images/seller_default/logo.jpg"); ?>";
        var defaultBannerUrl = "<?php echo $this->getViewFileUrl("Knowband_Marketplace::images/seller_default/banner.jpg"); ?>";
        var fileTypeNotSupportedErrorMsg = "<?php echo __("File is not supported"); ?>";
        var logoSizeExceedingErrorMsg = "<?php echo __("File Size Exceeding the Limit."); echo __("Max Upload Size: 200 KB")?>";
        var bannerSizeExceedingErrorMsg = "<?php echo __("File Size Exceeding the Limit."); echo __("Max Upload Size: 500 KB")?>";
        var url_key_exist_msg = "<?php echo __('This key already assigned to another seller. Please fill another.'); ?>";
        var check_url_key_path = '<?php echo $this->getUrl("*/*/isSellerUrlExist", ["id" => $this->getSellerId()]); ?>';
        var currentLogoURL = '<?php echo $seller_data['shop_logo']; ?>';
        var currentBannerURL = '<?php echo $seller_data['shop_banner']; ?>';
        var newBannerSelected = false;
        var newLogoSelected = false;
</script>

<section class="content-header">
    <div>
        <h1><?php echo __("My Profile"); ?></h1>
    </div>
    <div>
        <div class="">
            <a type="button" href="<?php echo $this->getUrl('*/*/viewCollection', ["id" => $seller_data['seller_id']]); ?>" style="color: #fff !important;" class="btn btn-primary pull-right"><?php echo __("View Collection"); ?></a>
        </div>
        <div class="">
            <a type="button" href="<?php echo $seller_view_link; ?>" style="color: #fff !important;" class="btn btn-primary"><?php echo __("View Profile"); ?></a>
        </div>
    </div>
</section>

<section class="content">
    
    <div id="vss-mp-profile-warning" class="alert alert-warning" style="display: none;"></div>
    
    <form action="" id="sellerProfileForm" method="POST" class="scaffold-form form-horizontal" enctype="multipart/form-data">
        <input type="hidden" name="mp_frontProfile[seller_id]" value='<?php echo $seller_data['seller_id']; ?>'>
        <div class="box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title"><?php echo __("General"); ?></h3>
                
                <div class="box-tools pull-right tab-error-highlighter text-red">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_title" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("Shop Title"); ?><sup><em>*</em></sup></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <input type="text" name="mp_frontProfile[shop_title]" id="vss_mp_shop_title" class="form-control required" value="<?php if(isset($seller_data['shop_title'])) echo $seller_data['shop_title']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_contact_number" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("Contact Number"); ?></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <input type="text" name="mp_frontProfile[contact_number]" id="vss_mp_shop_contact_number" class="form-control" value="<?php if(isset($seller_data['contact_number'])) echo $seller_data['contact_number']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="col-xs-12 col-sm-6 col-lg-4">
                        <span style="color:blue;" data-toggle="tooltip" title="<?php echo __("(Image Size: 150 X 150)"); ?>"><i class="fa fa-question-circle"></i></span> <?php echo __("Shop Logo"); ?>
                    </label>
                    <div id="mplogo_img_holder" class="col-lg-8 col-sm-6 col-xs-12 field-img-blk">
                        <?php if(isset($seller_data['shop_logo'])) { ?>
                            <img class="vss-seller-logo" id='vss_seller_logo' src="<?php echo $seller_data['shop_logo']; ?>" alt="shop logo" />
                        <?php } else { ?>
                            <img class="vss-seller-logo" id='vss_seller_logo' src="<?php echo $this->getViewFileUrl("Knowband_Marketplace::images/seller_default/logo.jpg"); ?>" alt="shop logo"/>
                        <?php } ?>
                        <input type="file" name="mplogo_img" class="vss_file_upload_field vssmp-profile-image-upl-file" id="mplogo_img"/>
                        <div class="btn-group" style="margin-top:5px;">
                            <button type="button" onclick="document.getElementById('mplogo_img').click(); return false;" class="btn btn-primary btn-xs"><?php echo __("Browse"); ?></button>
                            <button type="button" onclick="removeLogo()" class="btn btn-danger btn-xs"><?php echo __("Remove"); ?></button>
                        </div>
                        <input type="hidden" name="mp_frontProfile[remove_logo]" id="vssmp_seller_logo_remove" value="0">
                        <input type="hidden" name="vssmp_seller_logo_check" class="img_checker" value="1">
                        <p class="image_error text-red" style="display:none;"></p>
                    </div>   
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-12">
                        <span style="color:blue;" data-toggle="tooltip" title="<?php echo __("(Image Size: 1180 X 250)"); ?>"><i class="fa fa-question-circle"></i></span> <?php echo __("Shop Banner"); ?>
                    </label>
                    <div id="mpbanner_img_holder" class="col-lg-12 field-img-blk">
                        <?php if(isset($seller_data['shop_banner'])) { ?>
                            <img class="vss-seller-banner" id="vss_seller_banner" src="<?php echo $seller_data['shop_banner']; ?>" alt="shop banner" title="Banner of the seller's shop" />
                        <?php } else { ?>
                            <img class="vss-seller-banner" id="vss_seller_banner" src="<?php echo $this->getViewFileUrl("Knowband_Marketplace::images/seller_default/banner.jpg"); ?>" alt="shop banner" title="Banner of the seller's shop" />
                        <?php } ?>
                        <input type="file" name="mpbanner_img" class="vss_file_upload_field vssmp-profile-image-upl-file" id="mpbanner_img"/>
                        <div class="btn-group" style="margin-top:5px;">
                            <button type="button" onclick="document.getElementById('mpbanner_img').click(); return false;" class="btn btn-primary btn-xs"><?php echo __("Browse"); ?></button>
                            <button type="button" onclick="removeBanner()" class="btn btn-danger btn-xs"><?php echo __("Remove"); ?></button>
                        </div>
                        <input type="hidden" name="mp_frontProfile[remove_banner]" id="vssmp_seller_banner_remove" value="0">
                        <input type="hidden" name="vssmp_seller_banner_check" class="img_checker" value="1">
                        <p class="image_error text-red" style="display:none;"></p>
                    </div>   
                </div>
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_line1" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("Shop Address 1"); ?><sup><em>*</em></sup></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <input type="text" name="mp_frontProfile[address][line1]" id="vss_mp_shop_line1" class="form-control required" value="<?php if(isset($seller_data['address']['line1'])) echo $seller_data['address']['line1']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_line2" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("Shop Address 2"); ?></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <input type="text" name="mp_frontProfile[address][line2]" id="vss_mp_shop_line2" class="form-control" value="<?php if(isset($seller_data['address']['line2'])) echo $seller_data['address']['line2']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_city" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("City"); ?><sup><em>*</em></sup></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <input type="text" name="mp_frontProfile[address][city]" id="vss_mp_shop_city" class="form-control required" value="<?php if(isset($seller_data['address']['pincode'])) echo $seller_data['address']['city']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_pincode" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("Pincode"); ?><sup><em>*</em></sup></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <input type="text" name="mp_frontProfile[address][pincode]" id="vss_mp_shop_pincode" class="form-control required" value="<?php if(isset($seller_data['address']['pincode'])) echo $seller_data['address']['pincode']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_state" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("State"); ?><sup><em>*</em></sup></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <input type="text" name="mp_frontProfile[address][state]" id="vss_mp_shop_state" class="form-control required" value="<?php if(isset($seller_data['address']['state'])) echo $seller_data['address']['state']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="vss_mp_shop_country" class="col-xs-12 col-sm-6 col-lg-4"><?php echo __("Country"); ?><sup><em>*</em></sup></label>
                    <div class=" col-xs-12 col-sm-6 col-lg-8">
                        <?php $countries = $this->getCountries(); ?>
                        <select name="mp_frontProfile[address][country]" id="vss_mp_shop_country" class="form-control">
                            <?php foreach($countries as $ctr) { ?>
                                <option value="<?php echo $ctr['country_id']; ?>" <?php if(isset($seller_data['address']['country']) && $seller_data['address']['country'] == $ctr['country_id']) echo 'selected' ?>><?php echo $ctr['name']; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label for="vss_mp_shop_desc" class="col-lg-12"><?php echo __("Description"); ?></label>
                    <div class="col-lg-12">
                        <textarea name="mp_frontProfile[shop_desc]" id="vss_mp_shop_desc" rows="4" class="textarea-editor form-control" style="height:200px;"><?php if(isset($seller_data['description'])) echo $seller_data['description']; ?></textarea>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label for="vss_mp_shop_fburl" class="col-lg-12"><span data-toggle="tooltip" title="<?php echo __("Please provide link of your facebook page"); ?>"><?php echo __("Facebook Link (optional)"); ?></span></label>
                    <div class="col-lg-12">
                        <input type="text" name="mp_frontProfile[fb_link]" id="vss_mp_shop_fburl" class="form-control vss-share-link" value="<?php if(isset($seller_data['fb_link'])) echo $seller_data['fb_link']; ?>" />
                        <p class="help-block">
                            <?php echo '<b>'.__('For example:').'</b> http://www.example.com/page-link <b>'.__('or').'</b> www.example.com/page-link'; ?>
                        </p>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label for="vss_mp_shop_googleurl" class="col-lg-12"><span data-toggle="tooltip" title="<?php echo __("Please provide link of your google plus profile"); ?>"><?php echo __("Google Plus Link (optional)"); ?></span></label>
                    <div class="col-lg-12">
                        <input type="text" name="mp_frontProfile[google_link]" id="vss_mp_shop_googleurl" class="form-control vss-share-link" value="<?php if(isset($seller_data['google_link'])) echo $seller_data['google_link']; ?>" />   
                        <p class="help-block">
                            <?php echo '<b>'.__('For example:').'</b> http://www.example.com/page-link <b>'.__('or').'</b> www.example.com/page-link'; ?>
                        </p>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label for="vss_mp_shop_twitterurl" class="col-lg-12"><span data-toggle="tooltip" title="<?php echo __("Please provide link of your twitter profile"); ?>"><?php echo __("Twitter Link (optional)"); ?></span></label>
                    <div class="col-lg-12">
                        <input type="text" name="mp_frontProfile[twitter_link]" id="vss_mp_shop_twitterurl" class="form-control vss-share-link" value="<?php if(isset($seller_data['twitter_link'])) echo $seller_data['twitter_link']; ?>" />
                        <p class="help-block">
                            <?php echo '<b>'.__('For example:').'</b> http://www.example.com/page-link <b>'.__('or').'</b> www.example.com/page-link'; ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="box collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title"><?php echo __('Meta Information'); ?></h3>
                <div class="box-tools pull-right tab-error-highlighter text-red">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group col-lg-12">
                    <label for="vss_mp_meta_keywords" class="col-lg-12"><?php echo __("Meta Keywords"); ?><sup><em>*</em></sup></label>
                    <div class="col-lg-12">
                        <input type="text" name="mp_frontProfile[meta_keywords]" id="vss_mp_meta_keywords" class="form-control required" value="<?php if(isset($seller_data['meta_keywords'])) echo $seller_data['meta_keywords']; ?>" />
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-12"><?php echo __("Meta Description"); ?></label>
                    <div class="col-lg-12">
                        <textarea name="mp_frontProfile[meta_desc]" rows="6" class="form-control" ><?php if(isset($seller_data['meta_description'])) echo $seller_data['meta_description']; ?></textarea>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label for="vss_mp_seller_urlkey" class="col-lg-12"><span data-toggle="tooltip" title="<?php echo __("Example: my-selling-store"); ?>"><i class="fa fa-question-circle"></i></span> <?php echo __("Page Url Key"); ?><sup><em>*</em></sup></label>
                    <div class="col-lg-12">
                        <input autocomplete="off" type="text" name="mp_frontProfile[page_url_key]" id="vss_mp_seller_urlkey" class="form-control required" validate="url_key" value="<?php if(isset($seller_data['page_url_key'])) echo str_replace($seller_data['seller_id'].'-', '', $seller_data['page_url_key']); ?>" />   
                    </div>
                </div>
            </div>
        </div>
        
        <div class="box collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title"><?php echo __('Policy'); ?></h3>
                <div class="box-tools pull-right tab-error-highlighter text-red">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group col-lg-12">
                    <label class="col-lg-12"><?php echo __("Return Policy"); ?></label>
                    <div class="col-lg-12">
                        <textarea  name="mp_frontProfile[return_policy]" rows="6" class="form-control" ><?php if(isset($seller_data['return_policy'])) echo $seller_data['return_policy']; ?></textarea>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-12"><?php echo __("Shipping Policy"); ?></label>
                    <div class="col-lg-12">
                        <textarea name="mp_frontProfile[shipping_policy]" rows="6" class="form-control" ><?php if(isset($seller_data['shipping_policy'])) echo $seller_data['shipping_policy']; ?></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <button type="button" onclick="submitProfileData()" class="btn btn-primary pull-right"><?php echo __("Save"); ?></button>
        </div>
    </form>
</section>
<script>
require([
        'jquery',
        'mage/adminhtml/wysiwyg/tiny_mce/setup'
    ], function(jQuery){
 jQuery(document).ready(function() {
    var config = {}, 
        editor;
 
    jQuery.extend(config, {
        settings: {
            theme_advanced_buttons1 : 'bold,italic,|,justifyleft,justifycenter,justifyright,|,' +
                                        'fontselect,fontsizeselect,|,forecolor,backcolor,|,link,unlink,image,|,bullist,numlist,|,code',
            theme_advanced_buttons2: null,
            theme_advanced_buttons3: null,
            theme_advanced_buttons4: null
        }
    });
    editor = new tinyMceWysiwygSetup(
        'vss_mp_shop_desc',
        config
    );
    editor.turnOn();
    jQuery('#vss_mp_shop_desc')
        .addClass('wysiwyg-editor')
        .data(
            'wysiwygEditor',
            editor
        );
 });
});
</script>