<?php
/**
 * Seller link template
 *
 * @var $block \Knowband\Marketplace\Block\SoldBySeller
 */
?>
<?php 
//exit('hi');

$productBlock= $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View');
$_product = $productBlock->getProduct(); 
?>
<?php $buttonTitle = __('Add to Cart'); ?>
    <?php

$sellerDataArray = $this->getSoldBySellerList();
if ($sellerDataArray) { }
    ?>


<!-- santhosh -->

<div class="p-z">
<div class="z">
<div class="dealers">Compare with other dealers!</div>
<div>
                            <div class="product-img-dealer">        
                                <div class="parent-div-dealer">
                                    <ul class="parent-slick-multi">
                                        <li class=""> <img src="<?= $block->getViewFileUrl('images/car-white.png');?>" > 
                                          <div class="products-from">
                                           <p> From <span><i class="fa fa-user" aria-hidden="true"></i></span> 
                                            <span class="p-color">Tower World</span>
                                           </p>
                                           <div class="price-rating">
                                            <span class="price">$36.550</span>  
                                            <span class="rating">(3.5 out of 5)</span>  
                                           </div>
                                          </div>
                                         </li>

                                         <li class=""> <img src="<?= $block->getViewFileUrl('images/car-white.png');?>" > 
                                          <div class="products-from">
                                           <p> From <span><i class="fa fa-user" aria-hidden="true"></i></span> 
                                            <span class="p-color">Tower World</span>
                                           </p>
                                           <div class="price-rating">
                                            <span class="price">$36.550</span>  
                                            <span class="rating">(3.5 out of 5)</span>  
                                           </div>
                                          </div>
                                         </li> 

                                          <li class=""> <img src="<?= $block->getViewFileUrl('images/car-white.png');?>" > 
                                          <div class="products-from">
                                           <p> From <span><i class="fa fa-user" aria-hidden="true"></i></span> 
                                            <span class="p-color">Tower World</span>
                                           </p>
                                           <div class="price-rating">
                                            <span class="price">$36.550</span>  
                                            <span class="rating">(3.5 out of 5)</span>  
                                           </div>
                                          </div>
                                         </li> 

                                         <li class=""> <img src="<?= $block->getViewFileUrl('images/car-white.png');?>" > 
                                          <div class="products-from">
                                           <p> From <span><i class="fa fa-user" aria-hidden="true"></i></span> 
                                            <span class="p-color">Tower World</span>
                                           </p>
                                           <div class="price-rating">
                                            <span class="price">$36.550</span>  
                                            <span class="rating">(3.5 out of 5)</span>  
                                           </div>
                                          </div>
                                         </li> 

                                         <li class=""> <img src="<?= $block->getViewFileUrl('images/car-white.png');?>" > 
                                          <div class="products-from">
                                           <p> From <span><i class="fa fa-user" aria-hidden="true"></i></span> 
                                            <span class="p-color">Tower World</span>
                                           </p>
                                           <div class="price-rating">
                                            <span class="price">$36.550</span>  
                                            <span class="rating">(3.5 out of 5)</span>  
                                           </div>
                                          </div>
                                         </li> 

                                         <li class=""> <img src="<?= $block->getViewFileUrl('images/car-white.png');?>" > 
                                          <div class="products-from">
                                           <p> From <span><i class="fa fa-user" aria-hidden="true"></i></span> 
                                            <span class="p-color">Tower World</span>
                                           </p>
                                           <div class="price-rating">
                                            <span class="price">$36.550</span>  
                                            <span class="rating">(3.5 out of 5)</span>  
                                           </div>
                                          </div>
                                         </li>    
                                    </ul>
                                    <div align="center">
                                    <button class="button" align="center">view all</button>
                                    </div>
                                </div>
                            </div>
                            
                            
</div>
</div>

<div class="background">

                            <div class="product-img-partner">       
                                <div class="parent-div-partner" class="align">
                                    <div class="loan-offer">Check Loan Offers for<br>Compact 1 XS Radiant</div>
                                    <br>
                                    <br>
                                    <div class="slidecontainer">
                                    <table>
                                    <tr>
                                    <td class="loan-color">
                                     Loan amount: </td>
                                     <td> <input type="range" min="25000" max="100000" value="500" class="slider" id="myRange"></td>
                                     </tr>
                                     
                                     <tr><td></td><td class="loan-color">
                                      <p>&nbsp&nbsp$<span id="demo"></span></p></td></tr>
                                      </table>
                                    </div>
                                    <ul class="parent-slick-partner" class="align">
                                        <li class=""><div class="finance-partner">
                                        <p>Finance partner</p>
                                         <p><img src="<?= $block->getViewFileUrl('images/hsbc.png');?>"   title="citi" width="30%" height="2%" /></p>
                                        <p class="finance-partner">Maximum loan amount-<b>$36,592</b></p>
                                        <p class="finance-partner">EMI-<b>$3,000</b></p>
                                        <p class="finance-partner">Rate of interest-12.5%</p>
                                        <p class="finance-partner">Processing fee-$500</p>
                                         </div>
                                        </li>
                                        <li class=""> <div class="finance-partner">
                                        <p>Finance partner</p>
                                         <p><img src="<?= $block->getViewFileUrl('images/citi.png');?>"   title="hsbc" width="30%" /></p>
                                        <p class="finance-partner">Maximum loan amount-<b>$36,592</b></p>
                                        
                                        <p class="finance-partner">EMI-<b>$3,000</b></p>
                                        <p class="finance-partner">Rate of interest-12.5%</p>
                                        <p class="finance-partner">Processing fee-$500</p>
                                         </div></li>
                                        <li class=""> <div class="finance-partner">
                                        <p>Finance partner</p>
                                        <p><img src="<?= $block->getViewFileUrl('images/hsbc.png');?>" title="citi" width="30%" height="2%" /></p>
                                        <p class="finance-partner">Maximum loan amount-<b>$36,592</b></p>
                                         
                                        <p class="finance-partner">EMI-<b>$3,000</b></p>
                                        <p class="finance-partner">Rate of interest-12.5%</p>
                                        <p class="finance-partner">Processing fee-$500</p>
                                         </div> </li>
                                        <li class=""> <div class="finance-partner">
                                        <p>Finance partner</p>
                                        <p><img src="<?= $block->getViewFileUrl('images/citi.png');?>" title="hsbc" width="30%" /></p>
                                        <p class="finance-partner">Maximum loan amount-<b>$36,592</b></p>
                                         
                                        <p class="finance-partner">EMI-<b>$3,000</b></p>
                                        <p class="finance-partner">Rate of interest-12.5%</p>
                                        <p class="finance-partner">Processing fee-$500</p>
                                         </div></li >
                                         <li class=""><div class="finance-partner">
                                        <p>Finance partner</p>
                                        <p><img src="<?= $block->getViewFileUrl('images/hsbc.png');?>" title="citi" width="30%" height="2%" /></p>
                                        <p class="finance-partner">Maximum loan amount-<b>$36,592</b></p>
                                        
                                        <p class="finance-partner">EMI-<b>$3,000</b></p>
                                        <p class="finance-partner">Rate of interest-12.5%</p>
                                        <p class="finance-partner">Processing fee-$500</p>
                                         </div> </li>
                                        <li class=""> <div class="finance-partner">
                                        <p>Finance partner</p>
                                        <p><img src="<?= $block->getViewFileUrl('images/citi.png');?>" title="hsbc" width="30%" /></p>
                                        <p class="finance-partner">Maximum loan amount-<b>$36,592</b></p>
                                          
                                        <p class="finance-partner">EMI-<b>$3,000</b></p>
                                        <p class="finance-partner">Rate of interest-12.5%</p>
                                        <p class="finance-partner">Processing fee-$500</p>
                                         </div> </li> 
                                    </ul>
                                </div>
                            </div>
                                                    
</div>
</div>

<div class="grid-container-variant">
  <div><br><br><img src="<?= $block->getViewFileUrl('images/red-car.png');?>" width="500px" height="300px"><br>
  <br> <p class="fav-car">Select your favorite car...!</p>
  </div>

  <div><div class="dream-car">Build your Dream Car</div>
  <table style="width:80%" class="variant-table">

  <tr class="bg">
    <th class="white" id="variant1"><img src="<?= $block->getViewFileUrl('images/R1.png');?>" ></img><br> variant</th>
    <th class="white" id="variant2"><img src="<?= $block->getViewFileUrl('images/R2.png');?>" " > <br> color</th>
    <th class="white" id="variant3"><img src="<?= $block->getViewFileUrl('images/R3.png');?>" " width="50%" ><br> Accessories</th> 
    <th class="white" id="variant4"><img src="<?= $block->getViewFileUrl('images/R4.png');?>" " width="30%"><br> Extended Waranty</th>
    <th class="white" id="variant5"><img src="<?= $block->getViewFileUrl('images/R5.png');?>" " width="70%"><br> insurance</th>
    <th class="white" id="variant6"><img src="<?= $block->getViewFileUrl('images/R6.png');?>" " width="70%"><br>&nbsp loan</th>
  </tr>

  <tr>
    <td colspan="4" class="variant-padding" id="variant-choose">Choose your color</td>
  </tr>

  <tr>
      <td colspan="2" class="variant-padding">
      <div class="variant-box"><p>Estimated delivery time</p>
                         <p>1+weeks</p>
                               <p><table align="center">
    <tr><td><div class="diamond-silver">&nbsp</div></td>
    <td class="diamond-silver">Diamond silver</td>
    </tr>
    </table></p>
       <p>Monthly EMI-<b>$36592</b></p> 
       <button class="button" id="variant-button1">Select</button></div></td>
          <td colspan="2" class="variant-padding"><div class="variant-box"><p>Estimated delivery time</p>
                   <p>1+weeks</p>
                       <p><table align="center">
        <tr><td><div class="wire-red">&nbsp</div></td>
        <td class="wire-red">wire red</td>
        </tr>
        </table></p>
               <p>Monthly EMI-<b>$36084</b></p> 
               <button class="button" id="variant-button2">Select</button></div></td>
    <td colspan="2" class="variant-padding"><div class="variant-box"><p>Estimated delivery time</p>
                         <p>1+weeks</p>
                                  <p><table align="center">
    <tr><td><div class="purple">&nbsp</div></td>
    <td class="purple">Purple</td>
    </tr>
    </table></p>
     <p>Monthly EMI-<b>$37000</b></p> 
     <button class="button" id="variant-button3">Select</button></div></td>
    </tr>

    <tr>
      <!-- <button class="variant-button"></button> -->
      <td colspan="2" align="left"><button class="button button4"  id="share">Share</button></td>
      <td colspan="2"></td>
      <td colspan="2" align="right"><button class="button button4" id="save">Save</button>
      </td>
    </tr>

    </table>
    </div>
    </div>


<!-- santhosh -->

<div id="vssmp-seller-info" class="vss_mp_block" style="">
   

<div class="block-title-pdp"><span class="title"><?php echo __('Price details'); ?></span></div>
<div class="grid-container">
  <div class="grid-item"><p><table style="width:100%">
  <tbody><tr>
    <td class="padding12">Ex showroom price
    </td><td class="black">$37,000 
  </td></tr>
  <tr>
    <td class="padding12">Insurance Charges</td>
    <td class="black">$0</td>
    
  </tr>
   <tr>
    <td class="padding12">Registration Charges</td>
    <td class="black">$0</td>

  </tr>
  <tr>
    <td class="padding12">Extended Waranty</td>
    <td class="black">$6000</td>
  
  </tr>
  <tr>
    <td class="padding12">Accessories</td>
    <td class="black">$0</td>

  </tr>
  <tr>
    <td class="padding12">WAP</td>
    <td class="black">$0</td>

  </tr>

</tbody></table></p>
</div>
  <div class="grid-item"><p><table style="width:100%">
  <tbody><tr>
    <td class="padding12">Delivery Charges
    </td><td class="black">$500 
  </td></tr>
  <tr>
    <td class="padding12">Others</td>
    <td class="black">$1000</td>
    
  </tr>
  <tr>
    <td class="padding12">Total amount</td>
    <td class="black">$37,000</td>
  
  </tr>
  <tr>
    <td class="padding12">Discount</td>
    <td class="black">$500</td>

  </tr>
  <tr>
    <td class="padding-black"><b>Monthly EMI</b></td>
    <td class="black"><b>$3500</b></td>

  </tr>
   <tr>
    <td class="padding-black"><b>Representative price</b></td>
    <td class="black"><b>$37,000</b></td>

  </tr>
 
 
  
</tbody></table></p>
</div>
  <div class="item3"><p></p><p><img src="<?= $block->getViewFileUrl('images/price_details.jpg');?>" width="70%" height="auto"></p><p></p></div>  

</div>

</div>
