.vss_mp_block{
    clear:both;
    margin-bottom:10px;
    width:100%;
}

.vss_mp_row{
    display:block;
}

.vss_mp_inner_block{
    display:inline-block;
}

.vss_mp_inner_block .title{
    font-weight:bold;
    font-size:13px;
    color:#666;
}

.vss_mp_inner_block a{
    text-decoration: underline;
    color:#333;
}

.vss_mp_inner_block h2{
    font-size:14px;
}

.vss_active_link{
    color: #2e8ab8 !important;
    font-size: 11px;
    margin-left: 5px;
}

.vss_read_review_bck{
    background: url('../images/view_review.png') no-repeat transparent left center;
    height:16px;
    width:16px;
    padding-left: 18px
}

.vss_write_review_bck{
    background: url('../images/pencil_small.png') no-repeat transparent left center;
    height:16px;
    width:16px;
    padding-left: 18px
}

.vss_seller_ratings{
    display: inline-block;
    width: auto;
    white-space: nowrap;
    color: #d3d3d3;
    line-height: 16px;
    font-size: 15px;
    background: 0;
    font-family: "Arial Unicode MS",Arial,Tahoma,Verdana,sans-serif;
}

.vss_rating_filled{
    position: absolute;
    top: 2px;
    left: 0;
    color: #e9ce18;
    white-space: nowrap;
    overflow: hidden;
    background: 0;
    width:0px;
}


/*santhosh home-second-half.css*/

.grid-container {
  display: grid;
  grid-gap: 30px 20px;
  grid-template-columns: auto auto auto;
  padding: 50px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
   
  padding: 10px;
  
  font-size: 13px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.padding12{
  padding: 12px;
  color:grey;
}
.black{
color:black
}
.padding-black{
padding: 12px;
color:black
}
.item3 {
  border-left: 2px solid silver;
  height: 300px;
}


.grid-container-variant {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 30px;
  background: #fff;
  padding: 10px;
}

.grid-container-variant > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
   font-size: 30px;
}

.variant-table {
    border-collapse: initial;
    vertical-align: middle;
    border: 1px solid silver;
}

.left{
  font-size:5px
  text-align:left;
}
.bg{
background-color:#112835
}
.variant-button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 2px;
  cursor: pointer;
}
th:hover {background-color:grey;}

.variant-box {
 font-size: 10px;
 box-shadow: 0.25px 0.25px 0.25px 0.25px silver;
 font-family: Arial, Helvetica, sans-serif;
 text-align:center;
 border:1px solid silver;
 background-image: url("../../images/Path 252@2x.png");
 padding: 10px 10px;
width: 170px;
}
.variant-box td {
   padding: 5px;
  display: inline-block;
}
th.white{
color:white;
font-size:10px;
}

.variant-padding {
padding:5px
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: white; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */


.dealer-format {

padding:70px;
text-align:center;

}

.checked {
  color: orange;
}
.unchecked{
color:silver;
}


.review-div {
padding:50px;
}

.date-review {

font-size:12px;
color:grey;

}

div.diamond-silver { 
  background-color:silver;
  width:25px;
  Height:15px;
}
td.diamond-silver{
color:silver;
font-size:12px;
}
div.wire-red { 
  background-color:red;
  width:25px;
  Height:15px;
}
td.wire-red{
color:red;
font-size:12px;
}
div.purple { 
  background-color:purple;
  width:25px;
  Height:15px;
}
td.purple{
color:purple;
font-size:12px;
}

p.fav-car{
font-size:15px;
text-align:center;
}

div.dealers{
padding-left:100px;
}



div.background{
background-image: url("../../images/Path 250.png");
background-repeat: no-repeat;
background-position: right ;
background-size: 900px 730px;
}

div.finance-partner{
background-color:white;

padding:20px;
border: 5px solid black;
}

p.finance-partner{

font-size:10px;
}

div.align{
align:left;
}

div.loan-offer {
color:white;
font-size:15px;
}


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 300%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
td.loan-color {
color:white;
}

/*end santhosh home-second-half.css*/

/*end santhosh slick-review.css*/

.parent-div-review  button.slick-next, 
.parent-div-review  button.slick-prev {
    content: '';
    width: 69px;
    height: 69px;
    border: 1px solid silver;
    vertical-align: middle;
    font-size: 0;
    position: absolute;
    bottom: 35px;
    
    outline: 0;
    z-index: 1;
    cursor: pointer;
}

.parent-div-review  button.slick-next.slick-disabled, 
.parent-div-review  button.slick-prev.slick-disabled {
    background: grey;
}

.parent-div-review  button.slick-next:before, 
.parent-div-review  button.slick-prev:before {
    content: "";
    display: inline-block;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 1px 0 0;
    width: 12px;
    height: 12px;
}

.parent-div-review  button.slick-next:before {  
    transform: rotate(45deg);
}

.parent-div-review  button.slick-prev:before {
    transform: rotate(-135deg);
}

.parent-div-review  button.slick-next {
    left: 170px;
    padding-right: 12px;
} 

.parent-div-review  button.slick-prev {
    left: 86px;
    padding-left: 14px;
}

.parent-div-review .slick-slider {
    padding: 0;
    margin: 0;
}

.slick-slide img {
    max-width: 100%;
}

.parent-div-review .slick-slide
{
    
  
    padding-bottom: 50px;
    height: auto;
   
}


.parent-div-review  ul.slick-dots li {
    width: 10px;
    height: 10px;
    font-size: 0px;
    background: black;
    border-radius: 50%;
    outline: none;
    margin: 0 4px;
    display: inline-block;
    border: 1px solid #77878E;
}

ul.slick-dots {
    width: 40%;
    margin: 15px 0;
    padding: 0;
    text-align: center;
}

.product-img-review ul.slick-dots {
    position: absolute;
    bottom: 35px;
    width: 75%;
}
.parent-div-review  ul.slick-dots li.slick-active {
    background: grey;
}

.parent-div-review  ul.slick-dots li button {
    text-indent: -9999px;text-indent: -9999px;border: navajowhite;background: none;outline: none;
}

.left-60width .slick-slide img {
    height: 100%;
    max-height: 480px;
}

.left-60width ul.slick-dots {
    position: absolute;
    bottom: 19px;
    width: 75%;
}

@media only screen and (max-width: 1366px) {
    .parent-div-review button.slick-next, 
    .parent-div-review button.slick-prev {
        width: 30px;
        height: 30px;
        bottom: 40px;
    }
    
    .parent-div-review button.slick-next {
        left: 166px;
    }
    
    .heroimg-wrapper .parent-div-review button.slick-next {
        left: 17vw;
    }
}

/*end santhosh slick-review.css*/

/*end santhosh slick-partner.css*/

.parent-div-partner  button.slick-next, 
.parent-div-partner button.slick-prev {
    content: '';
    width: 69px;
    height: 69px;
    border: 1px solid #1C3438; 
    vertical-align: middle;
    font-size: 0;
    position: absolute;
    bottom: 35px;
     background: #1A3538; 
    outline: 0;
    z-index: 1;
    cursor: pointer;
}

.parent-div-partner  button.slick-next.slick-disabled, 
.parent-div-partner  button.slick-prev.slick-disabled {
     background: #162A31; 
}

.parent-div-partner  button.slick-next:before, 
.parent-div-partner  button.slick-prev:before {
    content: "";
    display: inline-block;
    border-color: grey; 
    border-style: solid;
    border-width: 1px 1px 0 0;
    width: 12px;
    height: 12px;
}

.parent-div-partner .slick-slide img{
    
    
    max-height:auto;
}

.parent-div-partner .slick-slide{
    
    height:auto;
    padding-bottom:100px;
}

.parent-div-partner  button.slick-next:before { 
    transform: rotate(45deg);
}

.parent-div-partner  button.slick-prev:before {
    transform: rotate(-135deg);
}

.parent-div-partner  button.slick-next {
    left: 170px;
    padding-right: 12px;
} 

.parent-div-partner  button.slick-prev {
    left: 86px;
    padding-left: 14px;
}

.parent-div-partner .slick-slider {
    padding: 0;
    margin: 0;
}

.slick-slide-partner img {
    max-width: 100%;
}

.parent-div-partner  ul.slick-dots li {
    width: 10px;
    height: 10px;
    font-size: 0px;
    background: black;
    border-radius: 50%;
    outline: none;
    margin: 0 4px;
    display: inline-block;
    border: 1px solid #77878E;
}

ul.slick-dots {
    width: 65%;
    margin: 250px 0;
    padding: 10px 250px;
    text-align: left;
}


.product-img-partner ul.slick-dots {
    position: absolute;
    bottom: 35px;
    width: 30%;
}
.parent-div-partner  ul.slick-dots li.slick-active {
    background: #77878E;
}

.parent-div-partner  ul.slick-dots li button {
    text-indent: -9999px;text-indent: -9999px;border: navajowhite;background: none;outline: none;
}

.left-60width .slick-slide img {
    height: 100%;
    max-height: 480px;
}

.left-60width ul.slick-dots {
    position: absolute;
    bottom: 19px;
    width: 75%;
}
.product-img-partner{
    width:50%;
    float:right;
    padding:30px;
    
}

@media only screen and (max-width: 1366px) {
    .parent-div-partner button.slick-next, 
    .parent-div-partner button.slick-prev {
        width: 35px;
        height: 35px;
        bottom: 30px;
    }
    
    .parent-div-partner button.slick-next {
        left: 166px;
    }
    
    .heroimg-wrapper .parent-div-partner button.slick-next {
        left: 17vw;
    }
}


/*end santhosh slick-partner.css */

/*end santhosh slick-dealer.css*/
.parent-div-dealer  button.slick-next, 
.parent-div-dealer  button.slick-prev {
    content: '';
    width: 69px;
    height: 69px;
    /* border: 1px solid #1C3438; */
    vertical-align: middle;
    font-size: 0;
    position: absolute;
    bottom: 35px;
    /* background: #1A3538; */
    outline: 0;
    z-index: 1;
    cursor: pointer;
}

.parent-div-dealer  button.slick-next.slick-disabled, 
.parent-div-dealer  button.slick-prev.slick-disabled {
    /* background: #162A31; */
}

.parent-div-dealer  button.slick-next:before, 
.parent-div-dealer  button.slick-prev:before {
    content: "";
    display: inline-block;
    border-color: grey; 
    border-style: solid;
    border-width: 1px 1px 0 0;
    width: 12px;
    height: 12px;
}

.parent-div-dealer .slick-slide img{ max-height:auto;
}

.parent-div-dealer .slick-slide{
    height:auto;
    padding-bottom:100px;
        margin-right: 20px;
}

.parent-div-dealer  button.slick-next:before {  
    transform: rotate(45deg);
}

.parent-div-dealer  button.slick-prev:before {
    transform: rotate(-135deg);
}

.parent-div-dealer  button.slick-next {
    left: 170px;
    padding-right: 12px;
} 

.parent-div-dealer  button.slick-prev {
    left: 86px;
    padding-left: 14px;
}

.parent-div-dealer .slick-slider {
    padding: 0;
    margin: 0;
}

.slick-slide-dealer img {
    max-width: 100%;
}

.parent-div-dealer  ul.slick-dots li {
    width: 10px;
    height: 10px;
    font-size: 0px;
    background: black;
    border-radius: 50%;
    outline: none;
    margin: 0 4px;
    display: inline-block;
    border: 1px solid #77878E;
}

ul.slick-dots {
    width: 65%;
    margin: 250px 0;
    padding: 10px 250px;
    text-align: left;
}

.product-img-dealer{
    width:50%;
    float:left;
    padding:30px;
    
}
.product-img-dealer ul.slick-dots {
    position: absolute;
    bottom: 35px;
    width: 30%;
}
.parent-div-dealer  ul.slick-dots li.slick-active {
    background: #77878E;
}

.parent-div-dealer  ul.slick-dots li button {
    text-indent: -9999px;text-indent: -9999px;border: navajowhite;background: none;outline: none;
}

.left-60width .slick-slide img {
    height: 100%;
    max-height: 480px;
}

.left-60width ul.slick-dots {
    position: absolute;
    bottom: 19px;
    width: 75%;
}

button#variant-button2 {
    background: #ffd800;
    border: 0px;
}
button:hover{
    border: none;
}
@media only screen and (max-width: 1366px) {
    .parent-div-dealer button.slick-next, 
    .parent-div-dealer button.slick-prev {
        width: 35px;
        height: 35px;
        bottom: 30px;
    }
    
    .parent-div-dealer button.slick-next {
        left: 166px;
    }
    
    .heroimg-wrapper .parent-div-dealer button.slick-next {
        left: 17vw;
    }
}

/*end santhosh slick-dealer.css*/

/*Satya css*/
.parent-div-dealer .products-from{
background: #162832;
padding: 0 10px;
}
.parent-div-dealer .products-from .fa-user{
color: #F7DD00;
}
.parent-div-dealer .products-from p{
color: #fff;
padding-top: 10px;
}
.parent-div-dealer .products-from .p-color{
color: #F7DD00;
}
.parent-div-dealer .products-from .price-rating{
padding-bottom: 10px;
}
.parent-div-dealer .products-from .price-rating .price{
color: #fff;
    font-weight: bold;
    width: 49%;
    display: inline-block;
}
.parent-div-dealer .products-from .price-rating .rating{
text-align: left;
width: 50%;
display: inline-block;
color: #F7DD00;
}
/*end satya css*/

