
<?php  /**@var $block  Knowband\Marketplace\Block\Product\Compare\SellerPrice */?>
<style>
.comapre_dealer_content{ display: none;}
</style>
    
<div id="comapre_dealer_link" class="comapre_dealer_link">    
    <a href="#"  title="Compare cost with other dealers">Compare cost with other dealers ></a>
</div>

<div class="comapre_dealer_content" id="comapre_dealer_content">
    <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Knowband_Marketplace::product/compare/seller_prices.phtml")->toHtml(); ?>
</div>


<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function($, modal) {
        // declaring initial options
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: '<?php echo __('Compare cost with other dealers'); ?>'
        };
        // Initialize the modal widget to the consulting content
        var slide = modal(options, $('#comapre_dealer_content'));
        // Whenever click on the text link How to choose the right size?
        $('.comapre_dealer_link a').on('click', function() {
            // open the popup content
            $('#comapre_dealer_content').modal('openModal');
            return false;
        });
    });
</script>
