<?php /* */ ?>
<?php
$buttonTitle = __('Add to Cart');
$productBlock = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View');
$_product = $productBlock->getProduct();
$fuel_type = $_product->getResource()->getAttribute('fuel_type');
$fuel_type_value = $fuel_type->getFrontend()->getValue($_product);
$fuel_type_label = $fuel_type->getStoreLabel();

$varient = $_product->getResource()->getAttribute('varient');
$varient_value = $varient->getFrontend()->getValue($_product);
$varient_label = $varient->getStoreLabel();
?>
<?php echo "<p><strong>" . $_product->getName() . "</strong></p>"; ?>

<div class="vss_mp_row">
    <div class="content_image" style="width: 20%; float: left">
        <?php
        $productThumbImage = $_product->getMediaGalleryImages();
        foreach ($productThumbImage as $productImage) {
            echo "<img src='" . $productImage['small_image_url'] . "'/>";
            break;
        }
        ?>
    </div>
    <div class="content_info" style="width: 80%; float: left;">
        <p><strong class="fuel_type"><?= $fuel_type_label ?> :</strong><?= $fuel_type_value ?> </p>
        <p><strong class="fuel_type"><?= $varient_label ?> :</strong><?= $varient_value ?> </p>
    </div>
</div>
<div style="clear:both"></div>
                <?php
                $soldBySellerBlock = $block->getLayout()->createBlock('Knowband\Marketplace\Block\SoldBySeller');

                $sellerDataArray = $soldBySellerBlock->getSoldBySellerList();
                if ($sellerDataArray) {
                    foreach ($sellerDataArray as $sellerData) {
                        ?>
                        <div class="vss_mp_row">
                            <form data-product-sku="<?= $block->escapeHtml($productBlock->getSku()) ?>"
                                  action="<?= /* @NoEscape */ $productBlock->getSubmitUrl($_product) ?>" method="post"
                                  id="product_addtocart_popup_form_<?php echo $sellerData['seller_id']; ?>"<?php if ($productBlock->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                                <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
                                <input type="hidden" name="item"  value="<?= $block->escapeHtmlAttr($block->getRequest()->getParam('id')) ?>" />     
                                <input type="hidden" name="vendor-checked-id" value="<?php echo $sellerData['seller_id']; ?>" />
                                <?= $block->getBlockHtml('formkey') ?>
                                <strong>From </strong> 
                                <?php
                                if (!empty($sellerData['page_url_key'])) {
                                    $seller_view_link = $this->getUrl('marketplace/sellers/view', ['id' => $sellerData['seller_id']]);
                                } else {
                                    $seller_view_link = $this->getUrl('marketplace/sellers/view', ['id' => $sellerData['seller_id']]);
                                }
                                ?>

                                <a href="<?php // echo $seller_view_link;        ?>" style="color: #ffd800; font-size: 16px; text-decoration: none;">
                                    <span class="">
                                <?php echo (!empty($sellerData['shop_title'])) ? $sellerData['shop_title'] : \Knowband\Marketplace\Helper\Seller::SELLER_DEFAULT_TITLE; ?>
                                    </span>
                                </a> 

        <?php if ($currentProduct = $soldBySellerBlock->getCurrentProduct()) { ?>
                                    <div class="price-box " data-role="priceBox" data-product-id="<?= $_product->getId() ?>" 
                                         data-price-box="product-id-<?= $_product->getId() ?>" style="display:inline-block; text-decoration: line-through;">
                                        <span id="product-price-<?= $_product->getId() ?>" 
                                              data-price-amount=" <?= $soldBySellerBlock->formattedPrice($currentProduct->getFinalPrice()); ?>" 
                                              data-price-type="finalPrice" class="price-wrapper ">
                                            <span class="price"  style="text-decoration: line-through;     color: #75888E; margin: 0px 10px;">
                                    <?= $soldBySellerBlock->formattedPrice($currentProduct->getFinalPrice()); ?>
                                            </span>
                                        </span>
                                    </div>
                                    <span class="vendor-price" style="margin: 0px 10px; font-weight: bold"><?php echo $soldBySellerBlock->formattedPrice($sellerData['price']) ?></span>
            <?= $block->getChildHtml('addtocart') ?>
                                    <div class="actions" style="display: inline-block; float: right;">
                                        <button type="submit"
                                                title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                                                class="action primary tocart"
                                                id="product-addtocart-button" disabled>
                                            <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
                                        </button>

        <?php } ?>
                            </form> 
                            <script type="text/x-magento-init">
                                {
                                "#product_addtocart_popup_form_<?php echo $sellerData['seller_id']; ?>": {
                                "Magento_Catalog/js/validate-product": {}
                                }
                                }
                            </script>
                        </div>     
    <?php
    }
}
?>