<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php
$helper = $this->helper('Solwin\Cpanel\Helper\Data');
$top_header_notification = $helper->getTopheadernotification();
?>
<span class="header-notification custom">  
    <!-- <?php echo $top_header_notification; ?> --> 
    Register
</span>

<style type="text/css">
	.header-notification.custom {
    float: right;
    /* max-width: 350px; */
    /* text-transform: capitalize; */
    color: #000;
    font-size: 14px;
    line-height: 18px;
    background: #ffd800;
    padding: 10px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffd800;
    margin-left: 15px;
}
.header.panel > ul.header.links {
    margin-top: 10px;
}
</style>
