
<?php /*  @block $block = Knowband\Marketplace\Block\Product\AssignList */ ?>

<section class="content-header">
    <h1 style="display: inline-block;"><?php echo __('Manage Product'); ?></h1>
</section>

<?php 
    $dt_columns = $this->getColumns();
    $dt_filters = $this->getFilters();
?>
<section id="<?php echo $this->getFieldId(); ?>_container" class="content">
    <?php if(!empty($dt_filters)){ ?>
    <form onsubmit="return false;">
        <div class="box box-default collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title"><?php echo __('Filter Your Search'); ?></h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div id="<?php echo $this->getFieldId(); ?>_list" class="box-body vssmp-list-filter">
                <?php foreach($dt_filters as $filter){ ?>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label><?php echo $filter['label']; ?></label>
                            <?php if($filter['type'] == 'select'){ ?>
                                <select id="<?php echo $filter['name']; ?>" name="<?php echo $filter['name']; ?>" class="form-control <?php echo $filter['className']; ?>">
                                    <option value=""><?php echo __("Choose"); ?></option>
                                    <?php if($filter['name'] == 'type_id' || $filter['name'] == 'visibility'){
                                        foreach($filter['values'] as $key => $type){
                                            echo '<option value="'.$key.'" >'.$type.'</option>';
                                        }
                                    }else{
                                        foreach($filter['values'] as $row){
                                            echo '<option value="'.$row['value'].'" >'.$row['label'].'</option>';
                                        }
                                    } ?>
                                </select>
                            <?php }else{ ?>
                                <input id="<?php echo $filter['name']; ?>" name="<?php echo $filter['name']; ?>" type="text" class="form-control <?php echo $filter['className']; ?>" value="<?php echo $filter['values']; ?>"/>
                            <?php } ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary" onclick="vssmpFilterBigList()" value="<?php echo __("Search"); ?>">
                <input type="reset" class="btn btn-danger" onclick="vssmpResetBigList()" value="<?php echo __("Reset"); ?>">
            </div>
        </div>
    </form>
    <?php } ?>
    <div class="box box-success">
        <?php echo $this->getChildHtml('marketplace_product_mass_update'); ?>
        <div class="box-body">
            <div class="table-responsive">
                <table id="vssmp_big_table" class="table table-bordered table-striped datatable">
                    <thead>
                        <tr id="niks">
                            <?php foreach($dt_columns as $col){ ?>
                            <th <?php echo ($col['width'] != '')? 'width="'.$col['width'].'"' : ''; ?> ><?php echo $col['label']; ?></th>
                            <?php } ?>
                        </tr>
                    </thead>
                    <tbody id="<?php echo $this->getFieldId(); ?>_list_body">
                        <tr>
                            <td class="text-center" colspan="<?php echo count($dt_columns); ?>">
                                <span class="label label-warning"><?php echo __('No Data'); ?></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <script type="text/javascript">
                var vssmp_dt_page_length = <?php echo $this->getPageLength(); ?>;
                var vssmp_no_item_checked_msg = "<?php echo __('Please select atleast one item from list.'); ?>";
                var vssmp_field_id = '<?php echo $this->getFieldId(); ?>';
                var vssmp_list_ajax_url = '<?php echo $this->getListUrl(); ?>';
                var dt_columns = [];
                <?php foreach($dt_columns as $colls){ ?>
                    dt_columns.push({'name': '<?php echo $colls["name"]; ?>', 'targets': <?php echo $colls["targets"]; ?>, 'className': '<?php echo $colls["orderable"]; ?>', 'orderable': <?php echo $colls["orderable"]; ?>});
                <?php } ?>
                var filter_params = [];
                <?php foreach($dt_filters as $filter){ ?>
                    filter_params.push({'name': '<?php echo $filter["name"]; ?>'});
                <?php } ?>
            </script>
        </div>
    </div>
</section>

<div id="new_product_attribute_selection1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="new_product_modal_title" class="modal-title"><?php echo __('Select Attribute Set for New Product'); ?></h4>
        </div>
        <div class="modal-body">
            <div class="overlay-wrapper">
                <div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
            </div>
            <div id="new_product_attribute_sets_container1" class="modal_data_container">
                <?php //echo $this->getAttributeSetHtml(); ?>
            </div>
        </div>
      </div>
    </div>
</div>

<div id="new_product_attribute_selection" style="display: none">
    <div class="overlay-wrapper">
     	<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
     </div>
     <div id="new_product_attribute_sets_container">
     </div>
</div>

<?php echo $this->getParentBlock()->getReasonPopUpHtml(); ?>


<script type="text/javascript">
    require(['jquery','Magento_Ui/js/modal/modal'], function(jQuery, modal){
        jQuery(document).ready(function(){
	    var options = {
                type: 'popup',
                responsive: true,
		buttons: []
            };
	    var modelwindow = modal(options, jQuery('#new_product_attribute_selection'));
            jQuery("#add_new_product_btn").click(function(e){
		modelwindow.openModal();
		
            });
		jQuery('#new_product_attribute_selection').modal({
    		opened: function(){
	      backToSetSelection();
    	}
        });


    });
    });
    
var step2_need_for = [];
<?php foreach ($this->AttributeForTypes() as $val) { ?>
    step2_need_for.push('<?php echo $val; ?>');
<?php } ?>
    
jQuery('#new_product_attribute_selection').on('hidden.bs.modal', function(){
    jQuery('#new_product_attribute_sets_container').html('');
    jQuery('#new_product_attribute_selection .overlay-wrapper').show();
});

function getAttributesForProduct(){
    var is_step2_req = false;
    
    if (jQuery('#new_product_attribute_sets_container form #product_type').length) {
        if (jQuery.inArray(jQuery('#new_product_attribute_sets_container form #product_type').val(), step2_need_for) >= 0) {
            is_step2_req = true;
        }
    }
    
    if (is_step2_req) {
        jQuery.ajax({
            url: '<?php echo $this->getAttributesUrl(); ?>' + '?isAjax=true',
            type: 'POST',
            dataType: 'json',
            data: jQuery('#new_product_attribute_sets_container form').serialize(),
            beforeSend: function() {
                jQuery('#new_product_attribute_selection .overlay-wrapper').show();
            },
            success: function(json) {
                jQuery('#new_product_attribute_selection .overlay-wrapper').hide();
                if (json['error'] != undefined) {
                    alert(json['error']);
                } else {
                    jQuery('#new_product_attribute_sets_container').html(json['html']);
                    jQuery('#new_product_modal_title').html(json['html_title']);
                    jQuery('#new_product_attribute_sets_container input[type="checkbox"].flat-green').iCheck({
                        checkboxClass: 'icheckbox_flat-green'
                    });
                }
            }
        });    
    } else {
        jQuery('#new_product_attribute_sets_container form').submit();
    }
}

function backToSetSelection(){
    jQuery.ajax({
        url: '<?php echo $this->getAttributesSetUrl(); ?>' + '?isAjax=true',
        type: 'POST',
        dataType: 'json',
        beforeSend: function() {
            jQuery('#new_product_attribute_selection .overlay-wrapper').show();
        },
        success: function(json) {
            jQuery('#new_product_attribute_selection .overlay-wrapper').hide();
            if (json['error'] != undefined) {
                alert(json['error']);
            } else {
                jQuery('#new_product_attribute_sets_container').html(json['html']);
                jQuery('#new_product_modal_title').html(json['html_title']);
            }
        }
    });
}

</script>
