<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"></script>
<?php echo $block->getFirebaseScript(); ?>
<?php $pwaHelper = $this->helper('Bistro\ProgressiveWebApp\Helper\Data'); ?>
<script>
    const messaging = firebase.messaging();
    var customerId = <?=$block->getCustomerId(); ?>;
    var CACHE_NAME = '<?=$pwaHelper->getCacheVersionName(); ?>';
</script>
<?php $ajaxUrl = $block->getUrl('pwa/index/subscribeTopic'); ?>
<script type="text/javascript">
    require(["jquery"], function ($) {
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                var baseUrl = '<?php echo $block->getBaseUrl() ?>';
                navigator.serviceWorker.register(baseUrl + 'serviceWorker.js').then(function (registration) {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }

        function subscriberTopic() {
            messaging.getToken()
                .then(function (currentToken) {
                    if (currentToken) {
                        var subUrl = 'https://iid.googleapis.com/iid/v1/' + currentToken;
                        var currentToken = currentToken;
                        $.ajax({
                            url: '<?php echo $ajaxUrl ?>',
                            type: 'POST',
                            dataType: 'json',
                            data: {subUrl: subUrl,token : currentToken, customerId : customerId},
                            success: function (response) {
                                console.log(response);
                            },
                            error: function () {
                                console.log("Cannot get data");
                            }
                        });
                    } else {
                        console.log('No Instance ID token available. Request permission to generate one.');
                    }
                })
                .catch(function (err) {
                    console.log('An error occurred while retrieving token. ', err);
                });
        }

        

        navigator.serviceWorker && navigator.serviceWorker.ready.then(function (serviceWorkerRegistration) {

            window.addEventListener('beforeinstallprompt', function (e) {
                e.userChoice.then(function (choiceResult) {
                    console.log("choiceResult.outcome");
                    console.log(choiceResult.outcome);
                    if (choiceResult.outcome === 'dismissed') {
                        console.log('User cancelled home screen install');
                    }
                    else {
                        console.log('User added to home screen');
                    }
                });
            });        

            messaging.useServiceWorker(serviceWorkerRegistration);
            messaging.requestPermission()
                .then(function () {
                    console.log('Notification permission granted.');
                    console.log('Customer Id', customerId);
                    console.log('device token: ', messaging.getToken());
                   if(customerId > 0){
                        subscriberTopic();
                    }
                })
                .catch(function (err) {
                    console.log('Unable to get permission to notify.', err);
                });

            messaging.onMessage(function (payload) {
                console.log("Message received. ");
                if (payload.notification) {
                    var notificationTitle = payload.notification.title;
                    var notificationOptions = {
                        body: payload.notification.body,
                        icon: payload.notification.icon,
                        badge: payload.notification.icon
                    };
                    serviceWorkerRegistration.showNotification(notificationTitle,
                        notificationOptions);
                }
            });
        });
    });
</script>