<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); 
//echo "<pre>"; print_r(get_class_methods($_product)); exit();
$soldBySellerBlock= $block->getLayout()->createBlock('Knowband\Marketplace\Block\SoldBySeller');
 ?>

<div class="custom-details">
<div class="title-cus"><span class="car-icon"><img src="<?php echo $block->getViewFileUrl('images/car-icon-white.png'); ?>"></span><?= $_product->getName();?></div>
<div class="seller_details">
<span class="gary-light">Sold By</span>
<span class="dealer-icon"><img src="<?php echo $block->getViewFileUrl('images/dealer-icon.png'); ?>"></span>
<span class="yellow-bold">City Compact</span><div class="rating">
<img src="<?php echo $block->getViewFileUrl('images/star-rating.png'); ?>"></div>
<span class="yellow-light">Contact Dealer</span>
<span class="span1">(See Dealer Reviews)</span>
</div>
<div class="compare_deals"><a href="#seller_list" style="color: inherit;">Compare Cost with other dealers</a></div>
<div class="variants-diff">See different variants</div>
<div class="cuspricefinal"><?= $soldBySellerBlock->formattedPrice($_product->getFinalPrice()); ?></div>
<!-- <div class="cuspriceactual">$38,499 (8% OFF)</div> -->
<div class="test-drive">
	<h3>Want to go for a Test Drive...</h3>
	<p>Send a request! We will deliver the test drive vehicle
at your door steps.</p>
 <input type="text" name="mobile_no" id="mobile-no" placeholder="Mob no.">
 <button>Send</button>
</div>
</div>






<style type="text/css">
.catalog-product-view .page-title-wrapper.product {
    display: none;
}
.catalog-product-view .breadcrumbs {
    margin: 0px;
    background: #081419;
    color: #75888e;
}
.breadcrumbs ul li.item.home a {
    color: #758898;
}
.breadcrumbs a:visited {
    color: #75888e;
    text-decoration: none;
}
.breadcrumbs .item:not(:last-child):after {
	color: #758898;
}
.breadcrumbs ul li.item strong {
    color: #ffd800;
}
.custom-details {
    float: left;
    text-align: left;
    width: 100%;
    color: #75888e;
}
.fotorama__stage__frame .fotorama__img {
	top:30%;
}
#maincontent {
    background: #151515;
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
}
.title-cus {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}
span.car-icon {
    margin-right: 15px;
}
span.span1, .seller_details, .compare_deals, .variants-diff, .cuspricefinal, .cuspriceactual, .test-drive{
	    float: left;
    width: 100%;
}
span.gary-light, span.dealer-icon, span.yellow-bold, .rating, span.yellow-light {
    float: left;    
}
span.yellow-bold {
    color: #ffe003;
    font-weight: 800;
    font-size: 15px;
    margin-right: 25px;
}
span.yellow-light {
    margin-left: 10px;
}
.compare_deals:after,
.variants-diff:after,
.rating:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    line-height: 25px;
    content: '\e608';
    font-family: 'luma-icons';
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    margin: 0 8px;
}
.compare_deals, .variants-diff {
    margin-top: 20px;
    color: #ffe003;
}
span.yellow-light,  {
    color: #ffe003;
}
.cuspricefinal {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}
.product-info-main .product-social-links .product-addto-links a.action.tocompare,
.product-info-main .product-social-links .action.mailto.friend {
    color: #ffe003;
}
.test-drive h3 {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}
input#mobile-no {
    width: 400px;
    margin-right: 20px;
    background: transparent;
    border-bottom: 1px solid #404546 !important;
    border: none;
}
.test-drive button {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    background: #ffd800;
    padding: 10px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffd800;
    margin-left: 15px;
    border: none;
    width: 100px;
}
.product-info-main .product-info-price{
	border: none;
	margin-bottom: 0px;
}
.product-info-main .product-add-form, .product-social-links {
	margin-left: 70px;
}
.box-tocart .action.tocart {
	width: 180px;
    background: #ababab;
    border: 1px solid #ababab;
}
.page-layout-1column .product.media{
	padding: 0 20px 0 30px;
}
#vssmp-seller-info{
	padding: 20px 0px 0px 0px;
    background: #fff;
    text-align: center;
}
.vss_mp_row {
    text-align: left;
    display: inline-block;
    width: 1000px;
}
span.dealer-icon {
    margin: 2px 10px;
}
span.yellow-light {
    margin-left: 10px;
    color: #ffe003;
}
.vss_mp_inner_block .title {
    font-weight: bold;
    font-size: 20px;
    color: #666;
    margin-left: -50px;
}
.p-z div {
box-sizing: border-box;
}
div.dream-car{
  font-size:25px;
  text-align:left;
  padding:30px
}

/*santosh*/
.p-z {
    display: flex;
    background: #fff;
    float: left;
    width: 100%;
}
.z {
width: 30%;
padding-top: 65px;
}
.product-img-dealer {
 width: 150%;
 float: none;
}
.background {
width: 79%;
z-index: 1;
}
.product-img-partner {
 float: none;
width: 100%;
}
.parent-div-partner {
    width: 75%;
    margin-left: 25%;
}
.parent-div-dealer .slick-slide {
    width: 238px !important;
}
.parent-div-dealer button.slick-prev {
    left: 210px;
		    bottom: 0px;
}
.parent-div-dealer button.slick-next {
    left: 290px;
		    bottom: 0px;
}
.content{
    min-height: auto;
}
.page-header {
    margin: 0px 0 0px 0;
}
.panel {
     margin-bottom: 0px; 
     background-color: #081419;
    }
/*santhosh*/
</style>
