<?php $product = $this->getProduct(); ?>

<?php $currentProducts = $this->getCurrentSellerProduct($product->getId());

$currentProduct = $currentProducts->getData();

$price = $qty = null;
if(count($currentProduct)){
    $price = $currentProduct['price'];
    $qty = $currentProduct['qty'];
}?>

<div class="collapsed-box box">
    <div class="box-header with-border" data-widget="collapse">
        <h3 class="box-title"><?php echo __("Prices"); ?></h3>
        <div class="box-tools pull-right tab-error-highlighter text-red">
            <i class="fa fa-warning"></i>
        </div>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <?php $field = $this->getFieldDetail($this->getFieldKey('price')); ?>
        <?php if($field['is_visible']){ ?>
            <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                <label><?php echo $field['label']; ?><?php if($field['is_required']){ ?><sup><em>*</em></sup><?php } ?></label>

                <?php echo $this->renderFieldTextHtml($field); ?>
            </div>
        <?php } ?>

        <?php $field = $this->getFieldDetail($this->getFieldKey('special_price')); ?>
        <?php if($field['is_visible']){ ?>
            <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                <label><?php echo $field['label']; ?><?php if($field['is_required']){ ?><sup><em>*</em></sup><?php } ?></label>

                <?php echo $this->renderFieldTextHtml($field); ?>
            </div>
        <?php } ?>
        <?php //$field = $this->getFieldDetail($this->getFieldKey('vendor_price')); ?>
            <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                <label>Vendor Price</label>

                <input name="vendor[price]" type="text" class="form-control  " validate="decimal" value="<?php echo $price; ?>">
            </div>
        <?php //$field = $this->getFieldDetail($this->getFieldKey('vendor_qty')); ?>
            <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                <label>Vendor Qty</label>
                <input name="vendor[qty]" type="text" class="form-control  "  value="<?php echo $qty; ?>">
            </div>
    </div>
</div>