<?php 
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $closewindow = $objectManager->get("\Magento\Framework\Registry")->registry('closewindow');
    $message = $objectManager->get("\Magento\Framework\Registry")->registry('message');

?>
<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('Knowband_Marketplace::theme/plugins/multiselect/multiple-select.css')?>">
<?php if($closewindow && $closewindow == 1){ ?>
    <?php if(isset($message['error'])){ ?>
        <div class="alert alert-warning"><?php echo $message['error']; ?></div>
    <?php }else if(isset($message['success'])){ ?>
        <div class="alert alert-success"><?php echo $message['success']; ?></div>
    <?php } ?>
    <div class="col-lg-12 text-center">
        <button type="button" onclick="closeSimpleProductPopup()" class="btn btn-danger"><?php echo __('Close'); ?></button>
    </div>
    <script type="text/javascript">
        setTimeout(function(){ closeSimpleProductPopup(); }, 5000);        
    </script>
<?php } else { ?>

    <?php $product = $this->getProduct(); ?>
    <?php 
        $posted_product_params = $objectManager->get("\Magento\Framework\Registry")->registry("vssmp_posted_form_data"); 
        $objectManager->get("\Magento\Framework\Registry")->unregister('vssmp_posted_form_data'); 

        $form_action = 'new';
        $form_req_params = [];
        if($product->getId()){
            $form_action = 'edit';
            $form_req_params = ['id' => $product->getId()];
        }
    ?>
    <section class="content-header">
        <h1><?php echo $this->getFormHeader(); ?></h1>
    </section>

    <section id="vss_product_form_container" class="vss_marketplace_page content">
        <div class="overlay-wrapper" style="display: none;"><div class="overlay"><i class="fa fa-spinner fa-spin"></i></div></div>
        <div id="vssmp_glob_msg_content" class="alert alert-warning" style="display:none;"></div>
        <div class="box-group" id="vssmp-product-form">
            <form id="vssmp-assignproduct-form-inner" enctype="multipart/form-data" method="post" action="#">
                <input type="hidden" name="process_step" value="2" />
                <?php foreach($posted_product_params as $key => $val){ 
                    if(is_array($val)){
                        foreach($val as $val1){ ?>
                            <input type="hidden" name="<?php echo $key; ?>[]" value="<?php echo $val1; ?>" />
                    <?php }}else{ ?>
                        <input type="hidden" name="<?php echo $key; ?>" value="<?php echo $val; ?>" />
                <?php } } ?>

                <?php echo $this->getChildHtml('marketplace_product_section_general'); ?>

                <?php if($product->getTypeId() != \Magento\GroupedProduct\Model\Product\Type\Grouped::TYPE_CODE){
                    echo $this->getChildHtml('marketplace_product_section_price');
                }?>
            <div class="row">
            <div class="form-group col-lg-12">
                <div class="btn-group pull-right">
                    <button id="assign_button" type="button" onclick="vssmpAssignProductValidateForms(this);" class="btn btn-success btn-sm"><i class="fa fa-save"></i> <?php echo __('Assign'); ?></button>
                    <?php if($this->getRequest()->getParam('popup')){ ?>
                        <button type="button" onclick="closeSimpleProductPopup()" class="btn btn-danger btn-sm"><i class="fa fa-close"></i> <?php echo __('Close'); ?></button>
                    <?php } else { ?>
                        <?php $redirect_url = $this->getFrontUrl('product', 'productlist'); ?>
                        <button type="button" onclick="cancelProductEditing('<?php echo $redirect_url; ?>');" class="btn btn-danger btn-sm"><i class="fa fa-close"></i> <?php echo __('Cancel'); ?></button>
                    <?php } ?>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
           </form>    
        </div>
    </section>
<?php } ?>
   <script type="text/javascript">
          function vssmpAssignProductValidateForms(e){
              
           var vssmp_invalid_form_message = '<?php echo __("Please fill required fields with valid information."); ?>';
            var error = false;
           
              if(jQuery('input[name="vendor[price]"]').val() == '' || jQuery('input[name="vendor[qty]"]').val() == ''){
                  error = true;
                      jQuery('input[name="vendor[price]"]').closest('.form-group').addClass('has-error');
                      jQuery('input[name="vendor[price]"]').closest('form > .box').addClass('box-danger');
                      jQuery('input[name="vendor[price]"]').closest('form > .box').find('.tab-error-highlighter').show();
              }
               //product price validation
              if(jQuery('input[name="vendor[price]"]').length
                      && jQuery('input[name="vendor[price]"]').val() != ''){
                  var price = jQuery('input[name="vendor[price]"]').val();
                  if(isNaN(price) || price < 0){
                      error = true;
                      jQuery('input[name="vendor[price]"]').closest('.form-group').addClass('has-error');
                      jQuery('input[name="vendor[price]"]').closest('form > .box').addClass('box-danger');
                      jQuery('input[name="vendor[price]"]').closest('form > .box').find('.tab-error-highlighter').show();
                      jQuery('input[name="vendor[qty]"]').closest('.form-group').addClass('has-error');
                      jQuery('input[name="vendor[qty]"]').closest('form > .box').addClass('box-danger');
                      jQuery('input[name="vendor[qty]"]').closest('form > .box').find('.tab-error-highlighter').show();
                  }
              }
               //product stock data quantity validation
                if (jQuery('input[name="vendor[qty]"]').length
                        && jQuery('input[name="vendor[qty]"]').val() != '') {
                    var qty = jQuery('input[name="vendor[qty]"]').val();
                    if (isNaN(qty) || qty < 0) {
                        error = true;
                        jQuery('input[name="vendor[qty]"]').closest('.form-group').addClass('has-error');
                        jQuery('input[name="vendor[qty]"]').closest('form > .box').addClass('box-danger');
                        jQuery('input[name="vendor[qty]"]').closest('form > .box').find('.tab-error-highlighter').show();
                    }
                }
                  if (error) {
                        jQuery('#vss_product_form_container .overlay-wrapper').hide();
                        jQuery('#vssmp_glob_msg_content').html(vssmp_invalid_form_message);
                        jQuery('#vssmp_glob_msg_content').show();
                        jQuery("html, body").animate({scrollTop:0}, '500');
                        setTimeout(function(){ jQuery('#vssmp_glob_msg_content').hide(); }, 10000);
                        return false;
                    } 
                    
                    var data = jQuery("#vssmp-assignproduct-form-inner").serialize();
                    jQuery.ajax({
                        url:'<?php echo $this->getAssignActionUrl(); ?>',
                        type:'POST',
                        data: data,
                        beforeSend:function()
                        {
                            jQuery('.loader').show();
                        },
                        success: function(response)
                        {
                               // alert(response);
                        jQuery('#vss_product_form_container .overlay-wrapper').hide();
                        jQuery('#vssmp_glob_msg_content').html(response);
                        jQuery('#vssmp_glob_msg_content').show();
                        jQuery("html, body").animate({scrollTop:0}, '500');
                        setTimeout(function(){ jQuery('#vssmp_glob_msg_content').hide(); }, 10000);
                        return true;
                        }
                    });
        }
    </script>
        